#root {
  max-width: 700px;
  margin: 0;
  padding: 2rem;
  text-align: center;
  flex: 1;
}

.exp-source-wrapper {
  background-color: var(--normal);
  color: var(--text);
  width: 100%;
  padding-bottom: 1em;
}

.exp-source-wrapper .row {
  display: flex;
  position: relative;
  align-items: end;
  min-height: 32px;
  flex-direction: row;
  padding: 1px 1em;

  &>:nth-child(1) {
    margin-right: 1em;
    border-bottom: 0.25px dashed var(--bright);
    border-right: 0.25px dashed var(--bright);
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &>:nth-child(2) {
    flex: 1.5;
    display: flex;
    align-items: center;
    flex-direction: row;
    & label {
      border-bottom: 0.25px dashed var(--bright);
      border-left: 0.25px dashed var(--bright);
    }
  }

  & .range-wrapper {
    gap: 0.5em;
    align-items: end;

    &>:nth-child(1) {
      flex: 1;
    }
    &>:nth-child(2) {
      flex: 2;
      width: 100%;
    }
  }

  
  & .input-wrapper {
    gap: 0.5em;
    line-height: 32px;
    &>:nth-child(2) {
      flex: 1;
      height: 28px;
    }
  }

  & .checkbox-wrapper {
    gap: 0.5em;
    
    &>:nth-child(1) {
      flex: 1 0 20px;
    }
    &>:nth-child(2) {
      flex: 0 0 24px;
      height: 24px;
    }
  }
}

.input-wrapper input {
  min-width: 0;
  width:100%;
}

.total {
  background-color: var(--bright);
}

@media (width <=500px) {
  .exp-source-wrapper .row {
    flex-direction: column;

    &>:nth-child(1) {
      margin-top: 1em;
      margin-right: 0;
      border-right: none;
      border-bottom: none;
      border-top: 0.25px dashed var(--bright);
      flex: 1;
      width: 100%;
    }

    &>:nth-child(2) {
      flex: 1;
      width: 100%;
      flex-direction: row;
      & label {
        border: none;
      }
    }
  }
}