:root {
  --primarydark       : hsl(240, 30%, 25%);
  --primary           : hsl(235, 35%, 30%);
  --primarybright     : hsl(230, 35%, 40%);
  --text-on-primary   : hsl(225, 95%, 95%);

  --secondarydark     : hsl(175, 30%, 25%);
  --secondary         : hsl(170, 50%, 30%);
  --secondarybright   : hsl(165, 70%, 35%);
  --text-on-secondary : hsl(160, 95%, 95%);

  --tertiarydark      : hsl(345, 30%, 30%);
  --tertiary          : hsl(350, 35%, 45%);
  --tertiarybright    : hsl(355, 40%, 60%);
  --text-on-tertiary  : hsl(360, 95%, 95%);
  
  --qauternarydark    : hsl(20, 30%, 25%);
  --qauternary        : hsl(25, 40%, 40%);
  --qauternarybright  : hsl(30, 50%, 55%);
  --text-on-qauternary: hsl(35, 96%, 96%);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/*=======================================================================
                          Section theming
=======================================================================*/
:root .primary{
  --dark: var(--primarydark);
  --normal: var(--primary);
  --bright: var(--primarybright);
  --text: var(--text-on-primary);
}
:root .secondary {
  --dark: var(--secondarydark);
  --normal: var(--secondary);
  --bright: var(--secondarybright);
  --text: var(--text-on-secondary);
}
:root .tertiary {
  --dark: var(--tertiarydark);
  --normal: var(--tertiary);
  --bright: var(--tertiarybright);
  --text: var(--text-on-tertiary);
}
:root .quaternary {
  --dark: var(--qauternarydark);
  --normal: var(--qauternary);
  --bright: var(--qauternarybright);
  --text: var(--text-on-qauternary);
}

#root {
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex: 1;
  width: 90%;
  padding: 1em;
  text-align: center;
}
.sources {
  max-width: 500px;
  flex: 1;
}
.monsterInfo {
  position: sticky;
  flex: 1;
  top: 0;
  height: 100%;
}

body {
  margin: 0;
}

h2 {
  color: var(--text);
  text-shadow: var(--dark);
  font-size: 2em;
  padding: 0.5em 0.5em;
  line-height: 1.1;
}

h3 {
  color: var(--text);
  font-size: 1.5em;
  margin: 0;
  padding: 0.25em 0em;
}
/*=======================================================================
                          Section React select
=======================================================================*/
.input-range {
  color: var(--text); 
  background-color: var(--dark);
  border: var(--bright) solid 1px;
  padding-left: 1em;
  border-radius: 5px;
  
  &:focus {
    outline: none;
    border-color: var(--text);
  }
}
.input-wrapper::after{
  content: '%';
  position: absolute;
  right: 2em;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
  }
/*=======================================================================
                          Section React select
=======================================================================*/
.select__control {
  width: 100%;
  height: 32px;
  min-height: 16px !important; /* remove react's built in min-height */
  transition: none !important; /* remove react's built in transition */
  text-align: left;
  border: 1px solid var(--bright);
  border-radius: 5px;
  background-color: var(--dark);
  padding-left: 1em;
  & .select__indicators {
    padding-right: 0.5em;
  }
}
.select__control--is-focused {
  border-color: var(--text);
}

.select__control--menu-is-open {
  border-bottom: none;
  border-radius:  10px 10px 0px 0px;
}

.select__menu{
  background-color: var(--dark);
  border: 1px solid var(--text);
  overflow: hidden;
  border-radius: 0px 0px 10px 10px;
  border-top: 0;
  background-clip: border-box;
}

.select__menu .select__option--is-selected {
  background-color: var(--text);
  color: var(--dark);
}

.select__menu .select__option:hover{
  background-color: var(--text);
  color: var(--dark);
}



/*=======================================================================
                          Section Checkbox
=======================================================================*/
.checkbox {
  background-color: var(--dark);
  border: 1px solid var(--bright);
  border-radius: 5px;
  height: 1rem;
  width: 16px;

  & svg {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 7.2 200;
    stroke: var(--text);
    opacity: 0;
    stroke-width: 1px;
    height: 90%;
    width: auto;
    transition: 100ms;
  }

  &.checked {
    background-color: var(--bright);
    & svg {
      opacity: 1;
    }
  }

  &.checked:hover svg {
    stroke-dashoffset: -11.25;
    stroke-dasharray: 5.6 4.1 100;
  }

  &:hover svg {
    opacity: 0.5;
    stroke-dashoffset: 0;
  }
}

/*=======================================================================
                          Section Slider
=======================================================================*/
input[type=range] {
  background-color: var(--dark);
  -webkit-appearance: none;
  appearance: none;
  overflow: hidden;
  border-radius: 24px;
  height: 24px;
  
   &::-webkit-slider-thumb {
    background-color: var(--text);
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    border:none;
    box-shadow: -212px 0 0 200px var(--bright);
  }
}
@media (width < 700px) {
  #root {
    flex-direction: column;
    align-items: center;
  }
}